/** base **/
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: #fff;
	background: #fff;
	font-family: 'Roboto Condensed', "Segoe UI", "Helvetica Neue", HelveticaNeue, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Verdana, Meiryo, sans-serif;
    font-feature-settings: "palt";
	letter-spacing: .8px;
	font-size: 16px;
	font-weight: 300;
}
h1, h2, h3, h4, h5 {
	font-weight: 300;
}
p {
	line-height: 180%;
}
a {
	text-decoration: none;
	color: #1a1a1a;
}
ul, li {
	list-style: none;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
}
.flex {
	display: flex;
}

/** header **/
.top-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 126px;
	display: none;
}
.top-header.bisible {
	display: block;
}
.head-logo {
	position: absolute;
	width: 46px;
	height: 52px;
	top: 40px;
	left: 45px;
}
.head-logo img {
	width: 100%;
}
nav {
	width: 60px;
	height: 60px;
	background-image: url(../img/icon-navi.svg);
	background-size: cover;
	position: absolute;
	top: 50%;
	right: 55px;
	transform: translate(0, -50%);
}
@media screen and (max-width: 679px) {
	.top-header {
		height: 92px;
	}
	.head-logo {
		width: 32px;
		height: 36px;
		top: 28px;
		left: 30px;
	}
	nav {
		width: 42px;
		height: 42px;
		right: 18px;
	}
}

/** main **/
main {
	width: 100%;
	background: hsl(214, 97%, 23%, 0.5);
}
.HomeHero {
	width: 100%;
	height: 100vw;
	background: hsl(214, 97%, 23%, 0.1);
}
.HomeAbout {
	width: 100%;
	height: 50vw;
	background: hsl(214, 97%, 23%, 0.2);
}
.HomeReport {
	width: 100%;
	height: 30vw;
	background: hsl(214, 97%, 23%, 0.3);
}
.HomeNorenwake {
	width: 100%;
	height: 100vw;
	background: hsl(214, 97%, 23%, 0.4);
}

/** footer **/
footer {
	width: 100%;
	height: 80vw;
	background: #037F8C;
}